
<!DOCTYPE html>
<head>
<meta charset="utf-8">

<meta name='author' content='Aaron Kosel'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link type='text/css' rel='stylesheet' href='/css/nv.d3.min.css'> 
<link type='text/css' rel='stylesheet' href='/css/main.css'> 
<link type='text/css' rel='stylesheet' href='/css/dashboard.css'> 

<script src='//use.typekit.net/zni5rsa.js'></script>
<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <header>
    <section class='container'>
      <h1>OZONE HOUSE DASHBOARD</h1>
      <article id='help'>
        <p>
          These visualizations are for the 2014 A2 DataDive. The Ozone House wants to have a better understanding of
          how their call data has changed over the years. We have a series of research questions we asked as a part
          of the DataDive. Visualizations with an associated research question, have a number in their
          title. These visualizations are set up to allow exploration into the dataset that could provide guidance
          for more rigourous statistical analysis down the road.
        </p>
        <h3>Research Questions</h3>
        <ol>
            <li>Does the call volume increase during certain times of day?</li>
            <li>Does the call volume increase during certain times of the year?</li>
            <li>What months show the highest call volume?</li>
            <li>What are the primary "presenting issues" of the caller?</li>
            <li>Does anxiety level decrease between the start of the call and end of the call?</li>
            <li>Is end anxiety level affected by the formulation of a safety plan?</li>
            <li>Are there months in which certain presenting issues are more common than in other times of the year?</li>
            <li>Are there annual trends around the prevalence of some presenting issues?</li>
            <li>What percentage of calls with Immediate Safety Concerns have Safety Plans made?</li>
            <li>Are there any trends over time regarding how Crisis Line callers learned about Ozone House?</li>
          </ol>
        </article>
      </section>
  </header>
  <main>
    <section class="question_box" id="question1"></section>
    <section class="question_box" id="question2"></section>
    <section class="question_box" id="question3"></section>
    <section class="question_box" id="question4"></section>
    <section class="question_box" id="question5"></section>
    <section class="question_box" id="question6"></section>
    <section class="question_box" id="question7"></section>
    <section class="question_box" id="question8"></section>
    <section class="question_box" id="question9"></section>
    <section class="question_box" id="question10"></section>
  </main>

</body>
<script src="vendor/d3.v3.min.js"></script>
<script src="vendor/jquery.min.js"></script>
<script src="vendor/nv.d3.min.js"></script>
<script src="build/bundle.js"></script>
