html
  head
  body
    header
      article
        #notifications
        noscript Whoops, looks like you don't have Javascript enabled. The site won't really work without it, so enable that if you can
        #help
          h3 What is this?
          p This map shows where all of the buses in the AATA are currently located. This is a small side project of mine to try to come up with a better way of figuring out when I need to catch the bus.
          p A number of improvements need to be made, so as it stands it's mostly a playground where I can mess around with mapping.
    #map
      .rocket

//  script(src='/js/underscore-min.js')
//  script(src='/js/backbone-min.js')
//  script(src='/js/transportation.js')
  script(src='/js/overlay.js')

