.chart {
  height: 30em;
  float: left;
  margin: 3em auto;
  text-align: center;
  color: #50225A;
}
@media only screen and (max-width: 600px) {
  .chart {
    width: 100%;
  }
  .half {
    width: 100%;
  }
}
.chart .title {
  margin-left: 1em;
  margin-right: 1em;
}
.full {
  width: 100%;
}

.half {
  width: 50%;
}

nav h1 {
  margin: 0;
  font-size: 6em;
  color: white;
  text-align: center;
}

.toggle {
  width: 100%;
  border: none;
  display: block;
  border: solid;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  padding: 1em;
  text-align: center;
}
.container:hover .toggle{
  width: 100%;
  display: block;
  color: #50225A;
  background-color: white;
}

header .container:hover {
  height: 34em;
}
