* {
  box-sizing: border-box;
}

body {
  font-family: 'Brandon-Grotesque', 'Lato', 'Montserrat', sans-serif;
  background-color: #EBF3D7;
}

header {
  padding: 1em;
  margin: 0 auto;
  width: 75%;
  font-size: 1em;
  line-height: 1.66em;
  background-color: #50225A;
  color: white;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }
}


