* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Montserrat', sans-serif;
  background-color: #EBF3D7;
}

header {
  padding: 1em;
  margin: 0 auto;
  width: 70%;
  font-size: 24px;
  line-height: 1.5em;
  background-color: #50225A;
  color: white;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }
}

header section#help {
  display: none;
}

