.chart {
  height: 30em;
  float: left;
  margin: 3em auto;
  text-align: center;
  color: #50225A;
  width: 50%;

}
@media only screen and (max-device-width: 600px) {
  .chart {
    width: 100%;
  }
}
.chart .title {
  margin-left: 1em;
  margin-right: 1em;
}
