.chart {
  height: 30em;
  float: left;
  margin: 3em auto;
  text-align: center;
  color: #50225A;
  width: 100%;

  @media only screen and (min-width: 600px) {
    width: 50%;

  }
}
.chart .title {
  margin-left: 1em;
  margin-right: 1em;
}
