.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(247,252,245)}
.RdYlGn .q1-11{fill:rgb(229,245,224)}
.RdYlGn .q2-11{fill:rgb(199,233,192)}
.RdYlGn .q3-11{fill:rgb(161,217,155)}
.RdYlGn .q4-11{fill:rgb(116,196,118)}
.RdYlGn .q5-11{fill:rgb(116,196,118)}
.RdYlGn .q6-11{fill:rgb(65,171,93)}
.RdYlGn .q7-11{fill:rgb(65,171,93)}
.RdYlGn .q8-11{fill:rgb(35,139,69)}
.RdYlGn .q9-11{fill:rgb(0,109,44)}
.RdYlGn .q10-11{fill:rgb(0,68,27)}

